

section{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pantalla-combate{
    display: flex;
}

#combate-jugador, #combate-enemigo{
    display: flex;
}

.botones, .tarjeta-resultado{
    display: flex;
    flex-direction: column;
}